<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<ec>
			<general>
				<code_split>1</code_split>
			</general>
			<facebook>
				<facebook_value>revenue</facebook_value>
			</facebook>
			<adwords>
				<conversion>0</conversion>
			</adwords>
			<selectors>
				<bind>1</bind>
				<cart>
					<![CDATA[//button[@id="product-addtocart-button"]]]>
				</cart>
				<cart_list>
					<![CDATA[div/div/div/div/div/form/button[contains(@class,"tocart")]]]>
				</cart_list>
				<cart_delete>
					<![CDATA[//a[contains(@class,"action-delete")]|//a[contains(@class,"remove")]]]>
				</cart_delete>
				<list>
					<![CDATA[//ol[contains(@class, "products")]/li]]>
				</list>
				<list_crosssell>
					<![CDATA[//ol[contains(@class,"product-items")]/li]]>
				</list_crosssell>
				<list_widget>
					<![CDATA[//ol[contains(@class,"product-items")]/li]]>
				</list_widget>
				<list_widget_click>
					<![CDATA[div/a[contains(@class,"product-item-photo")]]]>
				</list_widget_click>
				<list_widget_cart>
					<![CDATA[div/div/div/div/button[contains(@class,"tocart")]]]>
				</list_widget_cart>
				<click>
					<![CDATA[div/a]]>
				</click>
				<add_wishlist>
					<![CDATA[//a[contains(@class,"towishlist")]]]>
				</add_wishlist>
				<add_compare>
					<![CDATA[//a[contains(@class,"tocompare")]]]>
				</add_compare>
				<list_wishlist>
					<![CDATA[div/div/div/div/div/a[contains(@class,"towishlist")]]]>
				</list_wishlist>
				<beta_placeholders>0</beta_placeholders>
			</selectors>
			<options>
				<use_segments>1</use_segments>
				<use_skip_translate>0</use_skip_translate>
				<use_simples>0</use_simples>
				<use_remove_confirm>1</use_remove_confirm>
				<use_local_storage>1</use_local_storage>
				<use_detail_list>0</use_detail_list>
				<use_private_fallback>0</use_private_fallback>
				<impression_payload_model>0</impression_payload_model>
			</options>
			<adwords>
				<gtag>0</gtag>
				<conversion_format>3</conversion_format>
				<ecomm_prodid>sku</ecomm_prodid>
				<dynx>0</dynx>
			</adwords>
			<api>
				<use_built_in_credentials>1</use_built_in_credentials>
				<google_gtm_enable_remarketing>0</google_gtm_enable_remarketing>
				<throttle>2000000</throttle>
			</api>
			<affiliate>
				<enable>0</enable>
				<dimension>20</dimension>
			</affiliate>
			<search>
				<enable>0</enable>
				<dimension>18</dimension>
			</search>
			<cookie>
				<enable>0</enable>
				<mode>0</mode>
				<content>
					<![CDATA[This website (%s) is using cookies. We use them to give you the best experience. If you continue using our website, we'll assume that you are happy to receive all cookies on this website.]]>
				</content>
				<content_background_color>
					<![CDATA[#ffffff]]>
				</content_background_color>
				<content_text_color>
					<![CDATA[#000000]]>
				</content_text_color>
				<content_accept_color>
					<![CDATA[#8bc53f]]>
				</content_accept_color>
				<content_checkbox_color>
					<![CDATA[#000000]]>
				</content_checkbox_color>
				<content_text_accept>
					<![CDATA[CONTINUE]]>
				</content_text_accept>
				<content_text_confirm>
					<![CDATA[THANK YOU]]>
				</content_text_confirm>
				<content_text_learn>
					<![CDATA[Learn more]]>
				</content_text_learn>
				<content_link_learn>
					<![CDATA[http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm]]>
				</content_link_learn>
				<content_text_decline>
					<![CDATA[Decline]]>
				</content_text_decline>
			</cookie>
			<tax>
				<revenue>1</revenue>
				<revenue_product>0</revenue_product>
				<ecomm_totalvalue>1</ecomm_totalvalue>
			</tax>
			<beta>
				<mode>0</mode>
			</beta>
			<gmp>
				<use_measurement_protocol>0</use_measurement_protocol>
				<use_measurement_protocol_cancel>0</use_measurement_protocol_cancel>
				<use_measurement_protocol_refund>1</use_measurement_protocol_refund>
			</gmp>
			<optimize>
				<implementation>0</implementation>
			</optimize>
			<performance>
				<enable>0</enable>
			</performance>
			<dimensions>
				<stock>10</stock>
			</dimensions>
			<customer_reviews>
				<position>BOTTOM_RIGHT</position>
				<delivery_date>+ 1 days</delivery_date>
				<use_gtin>0</use_gtin>
			</customer_reviews>
		</ec>
	</default>
</config>