<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mirasvit\Optimize\Processor\OutputProcessor">
        <arguments>
            <argument name="pool" xsi:type="array">
                <item name="1_lazyLoad" xsi:type="object">Mirasvit\ImageLazyLoad\Processor\LazyLoadProcessor</item>
            </argument>
        </arguments>
    </type>

    <!--Validator-->
    <type name="Mirasvit\Core\Api\Service\ValidationServiceInterface">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="lazyload" xsi:type="object">Mirasvit\ImageLazyLoad\Service\ValidationService</item>
            </argument>
        </arguments>
    </type>
</config>
