<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config">
        <plugin name="opttimize-js-config-plugin" type="Mirasvit\OptimizeJs\Plugin\ConfigPlugin"/>
    </type>
</config>