<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mst_optimize" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="optimize_image" showInDefault="1" showInWebsite="1" showInStore="1">

                <group id="statistic" showInDefault="1" sortOrder="0">
                    <frontend_model>Mirasvit\OptimizeImage\Block\Adminhtml\System\Config\StatisticGroup</frontend_model>
                </group>

                <field id="is_webp" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use WebP images</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Mirasvit\Optimize\Block\Adminhtml\System\Config\YesNoField</frontend_model>
                    <attribute type="onChange">
                        Please clear magento cache after save configuration
                    </attribute>
                </field>

                <field id="is_webp_fotorama" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use WebP on product pages</label>
                    <depends>
                        <field id="is_webp">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Mirasvit\Optimize\Block\Adminhtml\System\Config\YesNoField</frontend_model>
                    <attribute type="description">
                        Enable/disable WEBP images usage in the gallery widget on product pages.
                    </attribute>
                </field>

                <field id="compression" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Image Quality level</label>
                    <source_model>Mirasvit\OptimizeImage\Model\Config\Source\ImageCompression</source_model>
                </field>

                <field id="strategy" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Image optimization strategy</label>
                    <source_model>Mirasvit\OptimizeImage\Model\Config\Source\Strategy</source_model>
                </field>

                <group id="responsive" showInDefault="1" sortOrder="40">
                    <label>Responsive images</label>
                    <field id="image" translate="label comment" sortOrder="10" showInDefault="1">
                        <label>Config</label>
                        <frontend_model>Mirasvit\OptimizeImage\Block\Adminhtml\System\Config\Form\Field\ResponsiveImage</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <comment>
                            Add patterns for image names for which responsive images should be generated.
                            &lt;/br&gt;Save settings before generating responsive images.
                            &lt;/br&gt;Refresh cache after generating images.
                        </comment>
                    </field>

                    <field id="generate" translate="button_label" type="button" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                        <button_label>Generate responsive images</button_label>
                        <frontend_model>Mirasvit\OptimizeImage\Block\Adminhtml\System\Config\GenerateButton</frontend_model>
                    </field>
                    <field id="cleanup" translate="button_label" type="button" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                        <button_label>Cleanup responsive images</button_label>
                        <frontend_model>Mirasvit\OptimizeImage\Block\Adminhtml\System\Config\CleanupButton</frontend_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
