<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Mirasvit\Optimize\Processor\OutputProcessor">
        <arguments>
            <argument name="pool" xsi:type="array">
                <item name="z_preload" xsi:type="object">Mirasvit\OptimizeHtml\Processor\FontsPreloadProcessor</item>
            </argument>
        </arguments>
    </type>

</config>
